@import "../BasicValues.scss";

[data-theme="dark"]{
	.sidenav{
		background-color: $darkBG;
		color: $darkColor;
	}
	
	.sidenav button{
		background-color: $darkBG2;
		color: $darkColor;
	}
	
	.sidenav>hr{
		border-color: $darkBG3;
	}
}

[data-theme="light"]{
	.sidenav{
		background-color: $darkBG;
		color: $darkColor;
	}
	
	.sidenav button{
		background-color: $darkBG2;
		color: $darkColor;
	}
	
	.sidenav>hr{
		border-color: $darkBG3;
	}
}

.sidenav{
	height: 100%;
	width: $basesize;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: 0.5s;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
}

.sidenav button{
	height: 60px;
	width: 60px;
	margin: 10px;
	border: none;
	border-radius: 30px;
	transition: 0.5s;
	padding: 0;
	outline: none;
	font-family: $basefont;
}
.sidenav button:not(:first-child){
	font-size: 25pt;
}

.sidenav button>img{
	height: 60px;
	width: 60px;
	transition: 0.3s;
	border: none;
	border-radius: 30px;
}

.sidenav button:hover, .sidenav button>img:hover{
	transition: 0.3s;
	border-radius: 15px;
}

.sidenav>hr{
	border: 1px solid;
	border-radius: 20px;
	width: $basesize - 10;
	margin-top: 0px;
	margin-bottom: 0px;
}