@import "../BasicValues.scss";

[data-theme="dark"]{
	
	.messagebox>input{
		background-color: $darkBG4;
		color: $darkColor;
	}

	.messagebox>input[type=text]::placeholder{
		color: $darkPlaceHolder;
	}
}

[data-theme="light"]{
	
	.messagebox>input{
		background-color: $lightBG4;
		color: $lightColor;
	}

	.messagebox>input[type=text]::placeholder{
		color: $lightPlaceHolder;
	}
}


.messagebox {
	margin-left: $sidepanelsize;
	margin-top: $sidepanelsize / 4;
	padding: 0;
	display: flex;
}

.messagebox>input{
	border: none;
	height: 50px;
	padding: 10px;
	outline: none;
}

.messagebox>input[type=text]{
	margin: 0;
	height: 30px;
	width: calc(100vw - #{$basesize * 1.5 + 10 * 4});
	font-size: 13pt;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

.messagebox>input[type=button]{
	margin: 0;
	font-family: "FontAwesome";
	font-size: 20pt;
	padding-left: 5px;
	width: $basesize / 2;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}