@import "../../BasicValues.scss";

[data-theme="dark"]{
	.chatroom-detail-div{
		input[type="text"]{
			background-color: $darkBG3;
			color: $darkColor;
		}
		.user-div{
			.users{
				background-color: $darkBG3;
				.user{
					background-color: $darkBG4;
				}
			}
			button{
				background-color: $darkBG3;
				color: $darkColor;
			}
		}
		.save-buttons{
			button{
				background-color: $darkBG3;
				color: $darkColor;
			}
		}
	}
}

[data-theme="light"]{
	.chatroom-detail-div{
		input[type="text"]{
			background-color: $lightBG3;
			color: $lightColor;
		}
		.user-div{
			.users{
				background-color: $lightBG2;
				.user{
					background-color: $lightBG3;
				}
			}
		}
		.save-buttons{
			button{
				background-color: $lightBG3;
				color: $lightColor;
			}
		}
	}
}

.chatroom-detail-div{
	width: calc(100vw - #{$basesize * 2});
	max-height: calc(100vh - #{$basesize * 2});
	
	input[type="text"]{
		width: calc(100% - 20px);
		height: 1.7rem;
		font-size: 1.5rem;
		text-align: left;
		border: 1px solid $darkBG;
		padding-left: 10px;
		border-radius: 20px;
	}
	
	.user-div{
		height: calc((100vh - #{$basesize * 2}) * .45);
		margin-bottom: 30px;
		.users{
			width: calc(100% - 40px);
			border: 1px solid $darkBG5;
			height: calc(100% - 100px);
			border-radius: 10px;
			padding: 10px;
			overflow: auto;
			.user{
				width: calc(100% - 20px);
				border: 1px solid $darkBG5;
				padding: 10px;
				border-radius: 20px;
				.header{
					display: flex;
					justify-content: space-between;
					.user-name{
						margin-top: 0px;
						margin-bottom: 10px;
					}
					button{
						margin: 0;
						width: auto;
						height: auto;
						border: none;
						background: none;
						padding: 0;
						outline: none;
						font-size: 1em;
					}
				}
			}
			.user:not(:last-child){
				margin-bottom: 10px;
			}
		}

		input[type="text"]{
			width: calc(50% - 10px);
			height: 1.7rem;
			font-size: 1.5rem;
			text-align: left;
			border: 1px solid $darkBG;
			padding: 5px;
			padding-left: 10px;
			margin-top: 5px;
			border-radius: 20px;
		}

		button {
			border: 1px solid $darkBG;
			width:  calc(50% - 20px);
			box-sizing: border-box;
			border-radius: 15px;
			padding: 10px;
			margin: 0px;
			margin-bottom: 5px;
			font-size: 1rem;
			outline: none;
		}
	}
	.save-buttons{
		button {
			border: 1px solid $darkBG;
			width:  calc(50% - 20px);
			box-sizing: border-box;
			border-radius: 15px;
			padding: 10px;
			margin: 10px;
			margin-bottom: 5px;
			font-size: 1rem;
			outline: none;
		}
	}
}