@import "./../BasicValues.scss";

.login-div{
	width: 40vw;
	text-align: center;
	font-size: 1.8em;
}

.login-div>.error{
	font-size: 1rem;
	color: #a00;
}

.login-div>input[type="email"],
.login-div>input[type="password"]{
	width: calc(100% - 20px);
	height: 1.7rem;
	font-size: 1.5rem;
	text-align: center;
}

.checkbox-text{
	font-size: 1rem;
}

input[type="submit"]{
	margin: 10px;
	width: 25%;
	height: 2em;
}