@import "./../BasicValues.scss";

[data-theme="dark"]{
	color: $darkColor;
    .register-form{
        .form-element {
            border: 0;
            background-color: $darkBG4;
            color: $darkColor;
        }

        .form-element::placeholder {
            color: $darkPlaceHolder;
        }
        
        .form-element[type="submit"] {
            background-color: $darkBG3;
        }
        
        .form-element[type="submit"]:hover {
            background-color: $darkBG4;
        }
    }
}

[data-theme="light"]{
    .register-form{
        .form-element {
            border: 1px solid $darkBG4;
            background-color: $lightBG3;
            color: $lightColor;
        }

        .form-element::placeholder {
            color: $lightPlaceHolder;
        }
        
        .form-element[type="submit"]:hover {
            background-color: $lightBG5;
        }
    }
}

.register-div {
	width: 40vw;
	font-size: 1.8em;
}

.register-div > .success {
	font-size: 1rem;
	color: #008500;
}

.register-div > .error {
	font-size: 1rem;
	color: #A00;
}

.register-form {
    flex: 1;
    margin-left: $basesize / 2;

    .form-element {
        outline: none;
        border: 0;
        font-size: 20px;
        padding: 5px;
        margin-bottom: $basesize / 4;
        width: calc(100% - 30px);
        border-radius: 10px;
        border: none;
        box-sizing: border-box;
    }

    .form-element[type="submit"] {
        width: calc(50% - 30px);
    }
}