.feed-item {
    background-color: #DDDDDD;
    border: 1px solid #444444;
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    margin: 5px 0px;
    margin-bottom: 5px;
}

.feed-item-text-container {
    .feed-item-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .feed-item-desc {
        font-size: 1rem;
    }

    .feed-item-reply-like-comment {
        font-style: italic;
        font-size: 1.25rem;
    }
}
  
.feed-item-image-container {
    .feed-item-image {
        background-color: #BBBBBB;
        border-radius: 25px;
        height: 100%;
    }
}