@import "./../BasicValues.scss";

.feed-item {
    background-color: hsl($basehue,$basesaturation, percentage(($baselighgting * 3) / 255));
    border: 1px solid hsl($basehue,$basesaturation, percentage(($baselighgting) / 255));
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    width: 100%;
    margin: 5px 0px;
    margin-bottom: 5px;
    position: relative;
}

.feed-item-edit {
    float: right;
}

.feed-item-text-container {
    .feed-item-title {
        font-size: 1.5rem;
        font-weight: bold;
    }

    .feed-item-description {
        font-size: 1rem;
    }

    .feed-item-category {
        border-radius: 40px;
        font-size: 1rem;
        padding-left: 10px;
        padding-right: 10px;
        width: fit-content;
    }

    .General {
        background: #50C533;
    }

    .Personal {
        background: #39AADF;
    }

    .Note {
        background: #DA963B;
    }

    .feed-item-reply-like-comment {
        font-size: 1.25rem;

        a {
            font-style: italic;
            color: inherit;
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
  
.feed-item-image-container {
    .feed-item-image {
        background-color: #BBBBBB;
        border-radius: 25px;
        height: 100%;
    }
}

.feed-button {
    background-color: hsl($basehue,$basesaturation, percentage(($baselighgting * 3) / 255));
    border: 1px solid hsl($basehue,$basesaturation, percentage(($baselighgting) / 255));
    box-sizing: border-box;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0px;
    margin-bottom: 5px;
    color: white;
    font-size: 1rem;
}